{% load static i18n %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-3 mb-3 mb-lg-0">
                <div class="footer-logo">
                    <img
                src="{% static 'images/logo.png' %}" alt="Herbalife">
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-2 mb-3 mb-lg-0">
                <div class="footer-column">
                    <h3>{% trans "footer_products_title" %}</h3>
                    <ul>
                        <li><a href="#">{% trans "footer_products_weight" %}</a></li>
                        <li><a href="#">{% trans "footer_products_fitness" %}</a></li>
                        <li><a href="#">{% trans "footer_products_performance" %}</a></li>
                        <li><a href="#">{% trans "footer_products_nutrition" %}</a></li>
                        <li><a href="#">{% trans "footer_products_skin" %}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-3 mb-lg-0">
                <div class="footer-column">
                    <h3>{% trans "footer_about_title" %}</h3>
                    <ul>
                        <li><a href="#">{% trans "footer_about_leadership" %}</a></li>
                        <li><a href="#">{% trans "footer_about_future" %}</a></li>
                        <li><a href="#">{% trans "footer_about_press" %}</a></li>
                        <li><a href="#">{% trans "footer_about_investor" %}</a></li>
                        <li><a href="#">{% trans "footer_about_career" %}</a></li>
                        <li><a href="#">{% trans "footer_about_earnings" %}</a></li>
                        <li><a href="#">{% trans "footer_about_guarantee" %}</a></li>
                        <li><a href="#">{% trans "footer_about_ethics" %}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-2">
                <div class="footer-column">
                    <h3>{% trans "footer_help_title" %}</h3>
                    <ul>
                        <li><a href="#">{% trans "footer_help_support" %}</a></li>
                        <li><a href="#">{% trans "footer_help_contact" %}</a></li>
                        <li><a href="#">{% trans "footer_help_refund" %}</a></li>
                        <li><a href="#">{% trans "footer_help_faq" %}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-2 mb-3 mb-lg-0">
                <div class="footer-column">
                    <h3>{% trans "footer_dist_title" %}</h3>
                    <ul>
                        <li><a href="#">{% trans "footer_dist_login" %}</a></li>
                        <li><a href="#">{% trans "footer_dist_opportunity" %}</a></li>
                    </ul>
                </div>
            </div>

            
        </div>
    </div>
</footer>