{% extends 'base.html' %}
{% load static i18n %}
{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}
<section class="hero">
    <div class="owl-carousel owl-carousel1 owl-theme">
        <div class="item">
            <div class="hero-left"><div class="hero-blur"></div>
                <div class="hero-content">
                    <h1>{% trans "home_hero_1_title" %}</h1>
                    <a href="#" class="btn btn-light learn-btn">
                        <img width="30" height="30" src="{% static 'images/right-green.png' %}" alt="">
                        {% trans "home_learn_more" %}
                    </a>
                </div>
            </div>
            <div class="hero-right"><img src="{% static 'images/hero.webp' %}" alt=""></div>
        </div>
        <div class="item">
            <div class="hero-left"><div class="hero-blur"></div>
                <div class="hero-content">
                    <h1>{% trans "home_hero_2_title" %}</h1>
                    <a href="#" class="btn btn-light learn-btn">
                        <img width="30" height="30" src="{% static 'images/right-green.png' %}" alt="">
                        {% trans "home_learn_more" %}
                    </a>
                </div>
            </div>
            <div class="hero-right"><img src="{% static 'images/hero.webp' %}" alt=""></div>
        </div>
    </div>
</section>

<div class="category-section">
    <div class="category-tabs container">
        <div class="owl-carousel tabs-carousel">
            <button class="tab-item active" data-target="#fitness">{% trans "home_tab_fitness" %}</button>
            <button class="tab-item" data-target="#performance">{% trans "home_tab_performance" %}</button>
            <button class="tab-item" data-target="#nutrition">{% trans "home_tab_nutrition" %}</button>
            <button class="tab-item" data-target="#skin">{% trans "home_tab_skin" %}</button>
        </div>
    </div>
    <div class="tab-content category-tabs">
        <div class="tab-pane fade show active" id="fitness">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 category-left">
                        <h1>{% trans "home_category_title" %}</h1>
                        <p>{% trans "home_category_desc" %}</p>
                        <a href="#" class="learn-btn"><img width="30" height="30" src="{% static 'images/right.png' %}" alt=""> {% trans "home_learn_more" %}</a>
                    </div>
                    <div class="col-lg-6 category-right">
                        <div class="image-wrap"><img src="/static/images/hero.webp" alt=""></div>
                        <div class="green-box"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="performance">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 category-left">
                        <h1>{% trans "home_category_title" %}</h1>
                        <p>{% trans "home_category_desc" %}</p>
                        <a href="#" class="learn-btn"><img width="30" height="30" src="{% static 'images/right.png' %}" alt=""> {% trans "home_learn_more" %}</a>
                    </div>
                    <div class="col-lg-6 category-right">
                        <div class="image-wrap"><img src="/static/images/hero.webp" alt=""></div>
                        <div class="green-box"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section-carousel">
    <div class="container">
        <div class="owl-carousel owl-carousel3 owl-theme">
            <div class="carousel-item">
                <div class="carousel-image"><img src="{% static 'images/hero.webp'%}" alt="Lab"></div>
                <div class="carousel-content">
                    <h2>{% trans "home_science_title" %}</h2>
                    <p>{% trans "home_science_text_1" %}</p>
                    <p>{% trans "home_science_text_2" %}</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-image"><img src="{% static 'images/hero.webp'%}" alt="Lab"></div>
                <div class="carousel-content">
                    <h2>{% trans "home_science_title" %}</h2>
                    <p>{% trans "home_science_text_1" %}</p>
                    <p>{% trans "home_science_text_2" %}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}